$tomatto: #ff6a6c;
$green: #62d03b;
$text: #333333;
$gray: #eef1f3;
$blue: #0674ec;
$icon: #7e8fa1;
$line: #d9dfe5;
$fial: #7347c1;
$yellow: #feb71d;
$red: #ff6a6d;




@mixin f500 {
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
}

